# Large Dataset Files - DON'T UPLOAD
Datasets/Datasets/
data/processed/X_train.npy
data/processed/X_test.npy
data/processed/y_train.npy
data/processed/y_test.npy

# Keep these small files
!data/ids_history.db
!sample_network_data.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
src/__pycache__/

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PDFs
*.pdf

# Streamlit
.streamlit/secrets.toml
